@import "mixins";
@import "vars";

body {
  background: $c-gray;
  @include flex;
}

.calendar {
  display: grid;
  grid-template: repeat(6, 100px) / repeat(7, 100px);
  grid-gap: 1px;
  counter-reset: list-of-days;

  & div {
    counter-increment: list-of-days;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: $main-color;
    transition: all 0.5s;
    @include flex;

    &::after {
      content: counter(list-of-days);
      font-size: 30px;
      font-family: Arial, sans-serif;
    }

    &:hover {
      cursor: pointer;
      background-color: $hover-color;
      transform: translateY(-20px);
    }
  }
}

@include start_of_calendar;
@include end_of_calendar;
